<div class="top-line">
    <div class="container">
        <p>
            <span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
            <span><i class="fa fa-envelope-o"></i>support@convertible.com</span>
        </p>
        <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul>
    </div>
</div>

<header class="clearfix">
    <div class="header-logo">
        <a class="logo" href="#"><img alt="" src="images/logo.png"></a>
    </div>
    <a class="elemadded responsive-link" href="#">Menu</a>
    <div class="navbar-vertical">
        <ul class="main-menu">

            <li class="drop">
                <a class="active" href="index-2.html"><span>Home</span></a>
                <ul class="drop-down">
                    <li><a href="index-2.html"><span>Home Default</span></a></li>
                    <li><a href="home-blog.html"><span>Home Blog</span></a></li>
                    <li><a href="home-portfolio.html"><span>Home Portfolio</span></a></li>
                    <li><a href="home-shop.html"><span>Home Shop</span></a></li>
                </ul>
            </li>
            <li class="drop">
                <a href="#"><span>Sliders</span></a>
                <ul class="drop-down">
                    <li><a href="index-2.html"><span>Revolution Slider</span></a></li>
                    <li><a href="flexslider.html"><span>Flexslider</span></a></li>
                </ul>
            </li>
            <li><a href="about.html"><span>About</span></a></li>
            <li class="drop">
                <a href="portfolio-3col.html"><span>Portfolio</span></a>
                <ul class="drop-down">
                    <li><a href="portfolio-2col.html"><span>Portfolio 2col</span></a></li>
                    <li><a href="portfolio-3col.html"><span>Portfolio 3col</span></a></li>
                    <li class="drop">
                        <a href="#"><span>Level 3</span></a>
                        <ul class="drop-down level3">
                            <li><a href="#"><span>Level 3</span></a></li>
                            <li><a href="#"><span>Level 3</span></a></li>
                            <li><a href="#"><span>Level 3</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="services.html"><span>Services</span></a></li>
            <li class="drop">
                <a href="blog-right-sidebar.html"><span>Blog</span></a>
                <ul class="drop-down">
                    <li><a href="blog-three-col.html"><span>Blog 3col</span></a></li>
                    <li><a href="blog-nosidebar.html"><span>Blog no sidebar</span></a></li>
                    <li><a href="blog-right-sidebar.html"><span>Blog Right Sidebar</span></a></li>
                    <li><a href="blog-left-sidebar.html"><span>Blog Left Sidebar</span></a></li>
                </ul>
            </li>
            <li><a href="shop.html"><span>Shop</span></a></li>
            <li><a href="shortcodes.html"><span>Shortcodes</span></a></li>
            <li><a href="contact.html"><span>Contact Us</span></a></li>
        </ul>
    </div>
</header>